
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 97%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  padding: 25px;
}

/* 헤더 그리드 */
header{
  flex-shrink: 1;
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 150px));
  grid-template-rows: 1, 1fr;

  border-top: 3px solid;
  align-items: center;
}

header div{
  display: flex;
  
  flex-direction: row;
  justify-contents: space-between;
  align-items: center;
  padding-inline-start: 10px;
  padding-inline-end: 5px;

  border-bottom: 3px solid;
}

header div:nth-child(1),
header div:nth-child(2),
header div:nth-child(3),
header div:nth-child(4)
{
  border-right: 3px solid;
}

/* 헤더 드롭다운 셀렉트 */
select{
  height: 80%;
  width: 100%;
  
  border: 0px;
  outline: 0px;
  background: transparent;
  scroll-behavior: smooth;
  padding: 5px;
}


/* 메인 */

main{
  flex-grow: 1;
  
  display: grid;
  width: 100%;
  height: 100%;
  
  grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
  grid-template-rows: repeat(auto-fit, 250px);
  grid-auto-rows: 250px;
  grid-auto-columns: 1fr;
}


main div{
  display: flex;
  border-bottom: 3px solid;
  border-inline-end: 3px solid;
}

main div:nth-child(3n){
  border-inline-end: 0px;
}

